.workspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pixelArtDrawWorkspace{
  width: 550px;
  height: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  background: #303030;
}
.tableToDraw{
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  background: #303030;
}
tr{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
th{
  width: 100%;
  height: 100%;

  border: 0.5px solid grey;
  background: white;

  padding: 0;
}
.pixelArtDrawSettings{
  width: 550px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid white;
  background: #303030;

  margin-top: 10px;
}
.pixelArtDrawSettingsStructureBlock{
  width: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resizeInputField{
  width: 200px;
  height: 30px;

  color: black;
  font-family: Consolas;
  font-size: 20px;
  text-align: center;

  padding: 0;
  border: 0px;
}
.resizeErrorInputField{
  width: 200px;
  height: 29px;

  color: red;
  font-family: Consolas;
  font-size: 20px;
  text-align: center;

  border: 1px solid red;

  padding: 0;
}
.pixelArtDrawButtons{
  width: 200px;
  height: 30px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-family:Consolas;
  font-size: 20px;

  border: 0px;
  background: #42b883;
}
.resizeInputFieldInstrucion{
  width: 200px;
  height: 30px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 20px;
  font-family: Consolas;
  color: white;

  border: 1px solid white;
}
